
body {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-items: center;
}
.photo-item {
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
}
.photo {
    display: none;
    margin-top: 10px;
    max-width: 300px;
    border-radius: 10px;
}
