*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    height: 100vh;
    background: url(../images/books2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(70deg, white, rgb(233, 181, 86));;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    transition: 0.5s;
}
header .logo{
    max-width: 50px;
    transition: 0.5s;
}
header .logo:hover{
    transform: scale(1.15);
}
header nav ul li{
    position: relative;
    float: left;
}
header nav ul li a{
    padding: 15px;
    color: black;
    font-size: 16pt;
    display: block;
}
header nav ul li a:hover{
    background-color: rgb(84, 73, 53);
    color: white;
}
nav ul li ul{
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 210px;
    background: linear-gradient(58deg, white, rgb(233, 181, 86));;
    display: none;
}
nav ul li ul li{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.161);
}
nav ul li:hover > ul{
    display: initial;
}