body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
    color: rgb(0, 0, 0);
}

.mini-flex{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-right: 1px solid rgba(77, 77, 77, 0.63);
}
.tovar{ 
    min-height: 341px;
    min-width: 250px;
    
}
.f451{
    background-image: url("../images/451.png");
}
.d112263{
    background-image: url("../images/112263.png");
}
.it{
    background-image: url("../images/it.png");
}
.metro{
    background-image: url("../images/metro.png");
}
.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgb(110, 103, 94);
    justify-content: space-around;
}
.cost{
    font-size: 24pt;
    color: rgb(208, 58, 35);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.flextext{
    background-color: rgba(162, 162, 162, 0.342);
}
.author{
    font-size: 12pt;
    color: rgba(67, 67, 67, 0.812);
}