body {
    background-color: azure;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    color:darkblue;
}
.block-example {
    display: block;
}
select {
    display:block;
    font-size: 18pt;
}
input {
    font-size: 18pt;

}
form {
    border: 2px solid darkblue;
    width: 65%;
    margin: 0 auto;
    padding: 15px 15px;
    background-color: rgba(164, 210, 250, 0.503);
}
h1 {
    text-align: center;
}
textarea {
    resize: none;
    font-size: 18pt;
}
input[type="range"] {
    height: 20px;
}
table{
    width: 100%;
    font-size: 18pt;
    border: 1px solid;
    background-color: rgba(103, 103, 169, 0.442);
    margin-bottom: 10px;
}
td, th{
    border: 1px solid rgba(0, 0, 122, 0.329);
    background-color: azure;
    margin: 10px 10px;
}
.Predmet{
    border: 2px solid darkblue;
    margin: 10px auto;
}
fieldset{
    border-color: rgba(79, 79, 200, 0.664);
}
.base{
    padding: 0 5px;
    padding-bottom: 5px;
    background-color: rgba(90, 149, 205, 0.562);
    margin-bottom: 15px;
}
.center{
    text-align: center;
}
.baza{
    background-color: rgba(101, 166, 226, 0.562);
    margin-bottom: 15px;
}
p{
    margin: 0;
}
output{
    border: 1px solid rgba(0, 0, 139, 0.195);
    background-color: rgba(142, 142, 243, 0.253);
}
.sogl{
    margin-bottom: 15px;
}