*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22pt;
    color: rgb(181, 189, 232);
    background-color: rgb(214, 227, 239);
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    flex-wrap: wrap;
}
.box{
    background-color: rgb(71, 83, 94);
    height: 100px;
    width: 350px;
    margin: 20px;
    text-align: center;
    padding-top: 50px;
    transition-duration: 0.5s;
}
.b1{
    box-shadow: -10px -10px rgb(141, 153, 165);
}
.b2{
    box-shadow: -10px -10px 10px rgb(141, 153, 165);
}
.b3{
    box-shadow: -10px -10px 0px 10px rgb(141, 153, 165);
}
.b4{
    box-shadow: -10px -10px 10px 10px rgb(141, 153, 165);;
}
.b5{
    box-shadow: 0px 0px 10px 0px rgb(141, 153, 165);
}
.b6{
    box-shadow: 0px 0px 10px 10px rgb(141, 153, 165)
}
.b1:hover{
    box-shadow: 0px 0px 10px 10px black;
    transition-duration: 0.5s;
}