body{
    background-color: rgb(170, 209, 201);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24pt;
    color: #0d5553;
    text-align: center;
}
h1{
    text-align: center;
    padding: 18pt;
    background-color: rgba(9, 136, 136, 0.308);
    border: 2px solid rgb(33, 100, 105);
}
table{
    border: 4px solid rgba(78, 175, 175, 0.877);
    width: auto;
    margin: 0 auto;
    background-color: rgba(66, 146, 146, 0.613);
}
tr, td{
    border: 2px solid rgba(84, 183, 183, 0.784);
    height: 400pt;
    font-size: 20pt;
    text-align: center;
    border-collapse: collapse;
}
img{
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    border: 3px solid rgb(78, 163, 196);
}