body{
    font-size: 22pt;
    background-color: rgb(58, 80, 94);
    color: rgb(247, 255, 247) ;
}
.main-menu{
    position: absolute;
    width: 30%;
    height: 50%;
    padding: 20pt;
    list-style: none;
    background-color: rgb(146, 180, 167);
    color: rgb(0, 1, 1);
    left: -100%;
    visibility: hidden;
    transition-duration: 1s;
    z-index: 2;
}
#ham-check{
    opacity: 0;
}
#soups{
    opacity: 0;
}
.ham-button{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
}
.ham-button>span,
.ham-button>span::before,
.ham-button>span::after{
    display: block;
    position: absolute;
    width: 30px;
    height: 5px;
    top: 10px;
    background-color: rgb(173, 210, 194);
    transition-duration: 0.2s;
}
.ham-button>span::before{
    top: -10px;
    content: "";
}
.ham-button>span::after{
    top: 10px;
    content: "";
}
#ham-check:checked ~ .main-menu{
    left: 0;
    visibility: visible;
    transition-duration: 0.3s;
}
#ham-check:checked ~ .ham-button>span::after{
    top: 0px;
    transform: rotate(90deg);
    transition-duration: 0.2s;
    height: 4px;
}
#ham-check:checked ~ .ham-button>span::before{
    top: 0px;
    transition-duration: 0.2s;
    height: 4px;
}
#ham-check:checked ~ .ham-button>span{
    top: 0px;
    transform: rotate(-45deg);
    transition-duration: 0.2s;
    height: 4px;
}
li:hover{
    background-color: rgb(119, 162, 146);
    transition-duration: 0.3s;
}
li{
    transition-duration: 0.3s;
}
.soup-menu{
    position: absolute;
    background-color: rgb(113, 143, 130);
    list-style: none;
    padding: 20px;
    top: 0px;
    visibility: hidden;
    height: auto;
    width: 300px;
    left: -100%;
    z-index: 1;
    transition-duration: 0.3s;
}
#soups:checked ~ .soup-menu{
    left: 358pt;
    visibility: visible;
    transition-duration: 0.3s;
}
.soup-button{
    position: relative;
    display: block;
}